main {
    height: 500px;
    border: 2px solid green;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    border: 2px dashed purple;
    margin: auto;
  }
  .flex-container > div {
    margin: 20px;
    padding: 30px;
    color: blue;
    font-size: 30px;
    border: 1px solid red;
    background-color: pink;
  }
  